<div class="jumbotron">
  <h2>ESGC BET CALCULATOR</h2>
  <p>Calculates the "Two Down Automatic Press" Game</p>
  <p><a class="btn btn-primary btn-lg" href= 'rounds/new' role="button">Enter New Round</a></p>
</div>


