<h1>All Bets</h1>



<div><%= link_to "New Bet", new_bet_path, class: "btn  btn-success" %></div>
<br>

<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th>PLAYERS</th>
      <th>FRONT</th>
      <th>BACK</th>
      <th>RESULT</th>
    </tr>
  </thead>
  
<% @bets.each do |bet| %>
  <tr>
    <td><span id='team1-names'><%= bet.player1a %> & <%= bet.player1b %></span><br> 
        <span id='team2-names'><%= bet.player2a %> & <%= bet.player2b %></span></td>
    <td class='bet-table-field'><span id='team1-front'><%= bet.team1_front %></span>
        <span id='team2-front'><%= bet.team2_front %></span></td>
    <td class='bet-table-field'><span id='team1-back'><%= bet.team1_back %></span>
        <span id='team2-back'><%= bet.team2_back %></span></td>
    <td class='bet-table-field'><span id='team1-result'><%= bet.team1_result %></span>
        <span id='team2-result'><%= bet.team2_result %></span></td>
  </tr>
<% end %>
</table>


<!--<br><br><br><br><br>-->

<!--<table class='table table-striped table-bordered'>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>PLAYERS</th>-->
<!--      <th>FRONT</th>-->
<!--      <th>BACK</th>-->
<!--      <th>RESULT</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tr>-->
<!--    <td>Jared & Megan <br> Brooke & Graeme</td>-->
<!--    <td>2up</td>-->
<!--    <td id="bottom">3up & 1up</td>-->
<!--    <td>$1</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Jared & Megan <br> Brooke & Graeme</td>-->
<!--    <td>2up</td>-->
<!--    <td id="bottom">3up & 1up</td>-->
<!--    <td>$1</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Jared & Megan <br> Brooke & Graeme</td>-->
<!--    <td>2up</td>-->
<!--    <td id="bottom">3up & 1up</td>-->
<!--    <td>$1</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Jared & Megan <br> Brooke & Graeme</td>-->
<!--    <td>2up</td>-->
<!--    <td id="bottom">3up & 1up</td>-->
<!--    <td>$1</td>-->
<!--  </tr>-->
<!--</table>-->

