<% todays_rounds = Round.where("created_at >= ?", Time.zone.now.beginning_of_day) %>



<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h1>Create a New Bet</h1>

    <%= form_for @bet do |f| %>
      <h2>Team 1</h2>
      <%= f.label :player1a, "Player 1" %>
      <%= f.collection_select(:player1a, todays_rounds, :name, :name, {}, class: 'form-control') %>
      
      <%= f.label :player1b, "Player 2" %>
      <%= f.collection_select(:player1b, todays_rounds, :name, :name, {}, class: 'form-control') %>
      
      <h2>Team 2</h2>
      <%= f.label :player2a, "Player 3" %>
      <%= f.collection_select(:player2a, todays_rounds, :name, :name, {}, class: 'form-control') %>
      
      <%= f.label :player2b, "Player 4" %>
      <%= f.collection_select(:player2b, todays_rounds, :name, :name, {}, class: 'form-control') %>
      <br>
      <p><%= f.submit "Submit", class: 'btn btn-lg btn-primary' %></p>
    <% end %>
  </div>
</div>


 





