<% par = [5,4,3,3,4,4,4,4,5,4,4,4,3,3,5,4,4,5] %>

<h1>All Rounds</h1>
<div><%= link_to "Add Round", new_round_path, class: "btn btn-success" %></div>
<br>
<small>(Click Player Name to Edit)</small>

<table class='table table-striped table-bordered' id='rounds-table'>
  <thead>
    <tr>
      <th class='fixed-col'>HOLE</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>F9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>B9</th>
      <th>TL</th>
    </tr>
    <tr id='par-row'>
      <th class='fixed-col'>PAR</th>
      <th>5</th>
      <th>4</th>
      <th>3</th>
      <th>3</th>
      <th>4</th>
      <th>4</th>
      <th>4</th>
      <th>4</th>
      <th>5</th>
      <th>36</th>
      <th>4</th>
      <th>4</th>
      <th>4</th>
      <th>3</th>
      <th>3</th>
      <th>5</th>
      <th>4</th>
      <th>4</th>
      <th>5</th>
      <th>36</th>
      <th>72</th>
    </tr>
  </thead>

<% @rounds.each do |round| %>
  <tr>
    <td class='fixed-col'><%= link_to round.name, edit_round_path(round) %></td> 
    <% 9.times do |n| %>
      <td class=<%= style_hole(round["hole#{n+1}_score"], n) %>>
        <%= round["hole#{n+1}_score"] %>
      </td>
    <% end %>
    
    <!--#front 9 total tbd-->
    <% front = [] %>
    <% 9.times do |n| %> 
      <% front << round["hole#{n+1}_score"].to_i %>
    <% end %>
    <td><%= front.reduce(:+).to_s %></td>
    
    <% 9.times do |n| %>
      <td class=<%= style_hole(round["hole#{n+10}_score"], n+9) %>>
        <%= round["hole#{n+10}_score"] %>
      </td>
    <% end %>
    
    <!--#back 9 total tbd-->
    <% back = [] %>
    <% 9.times do |n| %> 
      <% back << round["hole#{n+10}_score"].to_i %>
    <% end %>
    <td><%= back.reduce(:+).to_s %></td>
    
    <!--18 hole total tbd-->
    <td><%= (front.reduce(:+) + back.reduce(:+)).to_s  %></td> 
  </tr>
<% end %>


