<% par = [5,4,3,3,4,4,4,4,5,4,4,4,3,3,5,4,4,5] %>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h1>Enter a New Round</h1>
    <%= form_for @round do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control round-form' %>
      </p>
      <% 18.times do |n| %>
        <p>
          <%= f.label :"hole#{n+1}_score", "Hole #{n+1}" %><br>
          <%= submit_tag "-", type: 'button', onClick: %{decrementValue("hole#{n+1}")},
                              class: "stepper-btns btn btn-lg btn-success" %>
          <%= f.text_field :"hole#{n+1}_score", value: "#{par[n]}",
                              class: 'form-control round-form',
                              id: "hole#{n+1}" %>
           <%= submit_tag "+", type: 'button', onClick: %{incrementValue("hole#{n+1}")},
                               class: "stepper-btns btn btn-lg btn-success", id: "plus" %>
      <% end %>
      <p>
        <%= f.submit "Submit", class: 'btn btn-primary btn-lg' %>
      </p>
    <% end %> 
  </div>
</div>

<!--practice for stepper buttons-->
<!--<div class="input-stepper">-->
<!--  <button onClick = "decrementValue('x')">-</button>-->
<!--	<input id="x" type="text" value="6" >-->
<!--	<button onClick = "incrementValue('x')">+</button>-->
<!--</div>-->


