@import "bootstrap-sprockets";
@import "bootstrap";

.bet-table-field {
  position: relative;
}

#team2-front, #team2-back, #team2-result{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: blue;
}

#team2-names {
  color: blue;
}


// body {
//   padding-top: 70px;
// }



#hole1, #hole2, #hole3, #hole4, #hole5, #hole6,
#hole7, #hole8, #hole9, #hole10, #hole11, #hole12,
#hole13, #hole14, #hole15, #hole16, #hole17, #hole18{
  display: inline;
}

#par-row {
  background: #d3d3d3;
}

.navbar-header {
  padding-left: 10px;
}

@media (max-width: 610px) {
  #rounds-table {
    display: block;
    overflow-x: auto;
  }
}

// form[id='new_round'] input[type='text'] {
//   font-size: 1.5em;
//   width: 20%;
// }

.round-form {
  font-size: 1.5em;
  width: 20%;
}

#round_name {
  width: 75%;
}

.birdie {
  color: white;
  background-color: blue;
}

.bogey {
  // color: white;
  background-color: yellow;
}

.other {
  color: white;
  background-color: red;
}


.nav > li {
  font-size: 1.5em;
}