<header class = 'navbar navbar-inverse'>
  <div class='container-fluid'>
    <div class='navbar-header pull-left'>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
              data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class='nav navbar-nav'>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "New Round", new_round_path %></li>
        <li><%= link_to "All Rounds", rounds_path %></li>
        <li><%= link_to "New Bet", new_bet_path %></li>
        <li><%= link_to "All Bets", bets_path %></li>
      </ul>
    </div>
  </div>
</header>

