<!DOCTYPE html>
<html>
  <head>
    <title>GolfBetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class='container'>
      <% flash.each do |message_type, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{message_type}") %>  
      <% end %>
      <%= yield %>
    <!--<%= debug(params) if Rails.env.development? %>-->
    </div>
   
  </body>
</html>
